$black: #000000;

$white: ghostwhite;

$blue: blue;

$yellow: yellow;

$red: red;

$gray: #444;
$gray-light: #eee;

$purple: #8257e5;
$purple-light: #774fd64f;

$mobile-max-size: 425px;
$tablet-max-size: 1024px;
$laptop-max-size: 1440px;

$font-small: 8px;
$font-medium: 14px;
$font-large: 22px;
