@import "../../variables.scss";

$border-radius-mobile: 7px;
$border-radius-laptop: 15px;

.app-container {
  min-height: 100vh;
  background-color: $white;
}

.home {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background-color: $purple;
  padding: 20px 10px;
  border-bottom-left-radius: $border-radius-mobile;
  border-bottom-right-radius: $border-radius-mobile;
  @media (min-width: calc($tablet-max-size + 1px)) {
    padding: 128px 60px;    
    border-bottom-left-radius: $border-radius-laptop;
    border-bottom-right-radius: $border-radius-laptop;
  }
  transition: 2s;
}

.title {
  font-size: 48px;
  color: $white;
  margin: 0px;
  text-align: center;
  text-shadow: 0px 0px 1px $gray;
  @media (min-width: calc($tablet-max-size + 1px)) {
    font-size: 64px;
  }
}
