@import "../../variables.scss";

.home {
  background-color: $purple;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  @media (min-width: calc($tablet-max-size + 1px)) {
    padding: 128px 60px;
  }
  transition: 2s;
}

.title {
  font-size: 48px;
  color: $white;
  margin: 0px;
  text-align: center;
  text-shadow: 0px 0px 1px $gray;
  @media (min-width: calc($tablet-max-size + 1px)) {
    font-size: 64px;
  }
}
